h1 {
  font-family: 'Oleo Script', cursive;
  font-weight: 700;
}

h3, p {
  font-family: 'Oleo Script', cursive;
  font-weight: 400;
}

/*TITLE EFFECTS*/
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.6);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
#demo1:hover {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


/*QUOTE EFFECTS*/
@keyframes fadeIn {
  0% {
    transform: scale(0.1) translateY(35deg) perspective(15deg);
  }
  50% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1) perspective(30deg);
  }
}
#quote:hover {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*LAMA QUOTE*/
#lama {
  display:none;
}
a {
  color:black;
}
  a:hover {
    color:black;
  }
  a:hover + #lama {
    display: block;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

@keyframes fadeIn {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    transform: scale(1);
  }
}

/*HEPBURN QUOTE*/
@keyframes fancy {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }

}
#change:hover {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fancy;
  animation-name: fancy;
}


/*NAV BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*SPRITE*/
.hi {
    width: 50px;
    height: 72px;
    background-image: url("http://s.cdpn.io/79/sprite-steps.png");

    -webkit-animation: play .8s steps(10) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}
